

{% extends 'base.html' %}

{% block title %}Course List{% endblock %}

{% block content %}
<h2>Available Courses</h2>
<table border="1">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <td>{{ course.code }}</td>
            <td>{{ course.name }}</td>
            <td>{{ course.department.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}


<!-- ******************************************************************* -->



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page_title}}</title>
</head>
<body>
    <h1>{{page_title}}</h1>
    <ul>
        {% for course in courses %}
        <li>
            <strong>{{ course.code }}</strong>:{{ course.name }}
            ({{ course.credits }} Credits) - 
            <em>{{ course.department.name }}</em>
        </li>
        {% empty %}
        <li>No course found.</li>
        {% endfor %}
    </ul>
    
</body>
</html> -->

<!-- ******************************************************************* -->
